@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;500&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 0H0v36h36V0zM15.126 2H2v13.126c.367.094.714.24 1.032.428L15.554 3.032c-.188-.318-.334-.665-.428-1.032zM18 4.874V18H4.874c-.094-.367-.24-.714-.428-1.032L16.968 4.446c.318.188.665.334 1.032.428zM22.874 2h11.712L20 16.586V4.874c1.406-.362 2.512-1.468 2.874-2.874zm10.252 18H20v13.126c.367.094.714.24 1.032.428l12.522-12.522c-.188-.318-.334-.665-.428-1.032zM36 22.874V36H22.874c-.094-.367-.24-.714-.428-1.032l12.522-12.522c.318.188.665.334 1.032.428zm0-7.748V3.414L21.414 18h11.712c.362-1.406 1.468-2.512 2.874-2.874zm-18 18V21.414L3.414 36h11.712c.362-1.406 1.468-2.512 2.874-2.874zM4.874 20h11.712L2 34.586V22.874c1.406-.362 2.512-1.468 2.874-2.874z' fill='%23000000' fill-opacity='0.16' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-family: 'Albert Sans', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #000;
}

.quote-container {
    background-color: rgba(255, 255, 255, 0.5);
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
}

.quote-text {
    font-size: 2.5rem;
    font-weight: 500;
}

.author-text {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
}

.fa-quote-left, .fa-quote-right {
    font-size: 3rem;
}

.btn-container {
    margin-top: 20px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    height: 2.5rem;
}


/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }

    .quote-text {
        font-size: 2.2rem;
    }

    .fa-quote-left, .fa-quote-right {
        font-size: 2rem;
    }
}